body{
    margin: 0;
    font-family: 'Roboto','Hanuman' ;
}
.main{
    width: 100%;
    height: 4500px;
}
.left{
    width: 253.2px;
    height: 100vh;
    float: left;
    background-color: #f4f4f5;
    position: sticky;
    top: 0;
}
.left-header{
    width: 100%;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
}
.left-header img{
    margin-left: 32px;
}
.name{
    width: 91px;
    height: 46px;
    margin-left: 15px;
}
.name h3,.name p{
    margin: 0;
}
.search{
    width: 100%;
    height: 32px;
    float: left;
}
.search form{
    height: 85%;
    width: 205px;
    margin-left: 7px;
}
.search input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    font-family: 'Roboto';
}
.search input::placeholder{
    color: #a1a1aa;
}
.menu{
    margin-top: 5px;
    width: 221.2px;
    margin-left: 18px;
    height: 524px;
    float: left;
}
.menu ul{
    list-style-type: none;
    padding: 0;
}
.menu a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.menu li{
    text-align: center;
    padding: 8px 35px;
    border-radius: 8px;
    margin-top: 3px;
}
.menu li:hover:not(.home){
    background-color: #a3a3a3;
}
.home{
    background-color: #ed1c24;
}
.home a{
    color: white;
}

/* @right-side */
.right{
    width: 1202px;
    height: 100%;
    float: right;
    margin-right: 27px;
}
.right-header{
    width: 100%;
    height: 96px;
    margin-top: 16px;
}
.right-header p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 50px;
}
.right-header h1{
    font-size: 29px;
}
.slide{
    width: 100%;
    height: 512px;
    background-color: #555555;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.slide img{
    position: absolute;
}
.useless{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000005a;
}
img{
    object-fit: cover;
}
.slide-title{
    width: 924px;
    height: 351px;
    margin: 80px;
    color: white;
    margin-top: 130px;
}
.slide-title span{
    font-size: 20px;
    color: #ffffffbd;
}
.slide-title h1{
    font-size: 35px;
    font-weight: 800;
}
.slide-title button{
    width: 162.1px;
    height: 44px;
    background-color: #ed1c24;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Hanuman';
    font-size: 20px;
    font-weight: 600;
}
.ad{
    width: 100%;
    height: 374.9px;
    margin-top: 24px;
}
.ad p,.news-block p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.ad-img{
    width: 100%;
    height: 390px;
    float: left;
}
.ad-img img{
    width: 390px;
    height: 100%;
    border-radius: 10px;
    margin-right: 5px;
}
.news-block{
    width: 100%;
    height: 340px;
    float: left;
    margin-top: 24px;
}
.block{
    width: 100%;
    height: 296px;
    float: left;
    margin-top: 10px;
}
.news{
    width: 24%;
    height: 100%;
    float: left;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    transition: 0.1s;
}
.news:hover{
    transform: scale(1.05);
}
.news:not(.news:nth-child(1)){
    margin-left: 16px;
}
.news-block span{
    color: #ed1c24;
    font-weight: 300;
    font-size: 18px;
    float: right;
    cursor: pointer;
}
.news-img{
    width: 100%;
    height: 176px;
    float: left;
    background-color: lightblue;
}
.news-detail{
    width: 257px;
    height: 120px;
    float: left;
    margin-left: 15px;
}
.news-detail span{
    color: #ed1c24;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 300;
    float: left;
}
.news-detail p{
    float: left;
    font-size: 16px;
    margin-top: 5px;
}
.news-detail h4{
    font-weight: 400;
    font-size: 16px;
    float: left;
    width: 100%;
}
#views{
    float: right;
    color: black;
    margin-top: -5px;
    font-size: 16px;
}

/* @bottom */
.bottom{
    width: 100%;
    height: 746px;
    float: left;
    background-color: #ed1c24;
}
.bottom-cover{
    width: 100%;
    height: 444px;
    background-color: #a1a1aa;
    float: left;
    position: relative;
}
.bottom-cover img{
    position: absolute;
}
.bottom-detail{
    width: 442px;
    height: 283px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    color: white;
}
.bottom-detail img{
    margin-left: -90px;
}
.bottom-detail p{
    font-size: 21px;
    font-weight: 300;
}
.bottom-detail h1 {
    padding-top: 180px;
}
.bottom-detail  i{
    font-size: 30px;
}
.bottom-detail i:not(.bottom-detail i:nth-child(1)){
    margin-left: 50px;
}
.bottom-menu{
    width: 100%;
    height: 176px;
    float: left;
    margin-top: 40px;
}
.bottom-box{
    width: 33.33333%;
    height: 100%;
    float: left;
    color: white;
}
.end-left{
    width: 197.1px;
    height: 100%;
    margin: auto;
}
.end-left h1, .end-mid h1 , .end-right h1{
    font-size: 24px;
    margin: 0;
}
.end-mid{
    width: 220px;
    height: 100%;
    margin: auto;
}
.end-mid-nav{
    width: 50%;
    height: 137px;
    float: left;
}
.end-mid-nav ul{
    list-style-type: none;
    padding: 0;
}
.end-mid-nav a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
}
.end-left p{
    font-weight: 100;
}
.end-mid-nav li{
    transition: 0.2s;
}
.end-mid-nav li:hover{
    margin-left: 7px;
}
.end-right{
    width: 344.8px;
    height: 100%;
    margin: auto;
}
.end-right h1{
    margin-bottom: 13px;
}
.end-right p{
    font-weight: 100;
    font-size: 16px;
    margin: 0;
}
.end{
    width: 100%;
    height: 48px;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    float: left;
}
.end p{
    margin: 0;
}